# Project Identification
PYAPP_PROJECT_NAME = vsview
PYAPP_PROJECT_VERSION =
PYAPP_PROJECT_FEATURES = recommended
PYAPP_PROJECT_DEPENDENCY_FILE =
PYAPP_PROJECT_PATH = 

# Execution Mode (mutually exclusive)
PYAPP_EXEC_MODULE =
PYAPP_EXEC_SPEC = vsview.cli:main
PYAPP_EXEC_CODE =
PYAPP_EXEC_SCRIPT =
PYAPP_EXEC_NOTEBOOK =

# GUI
PYAPP_IS_GUI = 

# Python distribution
PYAPP_PYTHON_VERSION = 3.14
PYAPP_DISTRIBUTION_VARIANT_CPU = v3
PYAPP_DISTRIBUTION_VARIANT_GIL = 
PYAPP_DISTRIBUTION_SOURCE = 
PYAPP_DISTRIBUTION_PATH = 
PYAPP_DISTRIBUTION_EMBED = 
PYAPP_DISTRIBUTION_FORMAT = 
PYAPP_DISTRIBUTION_PYTHON_PATH = 
PYAPP_DISTRIBUTION_SITE_PACKAGES_PATH = 
PYAPP_DISTRIBUTION_PATH_PREFIX = 
PYAPP_DISTRIBUTION_PIP_AVAILABLE = 

# Installation Strategy
PYAPP_UV_ENABLED = true
PYAPP_UV_VERSION = 0.11.7
PYAPP_UV_ONLY_BOOTSTRAP = 
PYAPP_UV_SOURCE = 
# No effect with uv enabled
PYAPP_PIP_EXTERNAL = 
PYAPP_PIP_VERSION = 
PYAPP_PIP_ALLOW_CONFIG = 
PYAPP_PIP_EXTRA_ARGS = 
PYAPP_FULL_ISOLATION = 
PYAPP_UPGRADE_VIRTUALENV = 
PYAPP_SKIP_INSTALL = 
PYAPP_ALLOW_UPDATES = 

# CLI & Metadata
PYAPP_SELF_COMMAND = env
PYAPP_METADATA_TEMPLATE = 
PYAPP_PASS_LOCATION = 
PYAPP_EXPOSE_ALL_COMMANDS = true
PYAPP_EXPOSE_CACHE = 
PYAPP_EXPOSE_METADATA = 
PYAPP_EXPOSE_PIP = 
PYAPP_EXPOSE_PYTHON = 
PYAPP_EXPOSE_UPDATE = 

# Varde fork
PYAPP_WINDOWS_ICON_PATH = build/icons/windows/vsview.ico
PYAPP_BINARY_NAME = VSView

# Cargo
# https://doc.rust-lang.org/cargo/reference/environment-variables.html
CARGO_TARGET_DIR = build/cargo
